<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            <h1>Welcome to out application</h1>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                           @Html.ActionLink("Home Page", "Index", "Home",null, new { @class="nav-link"} )
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign In", "Login", "User",null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign up", "Register", "User",null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Home Page", "Index", "Home",null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
      
    </div>
</body>
</html>
