@*@model UnderstandingDataTransferInMVCProject.Models.Employee*@
@model UnderstandingDataTransferInMVCProject.Models.EmployeeViewModel


@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })

                @Html.LabelFor(m => m.UserPassword, htmlAttributes: new { @class = "form-control" })
                @Html.PasswordFor(m => m.UserPassword, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RetypePassord, "", new { @class = "text-danger" })

                @*<label class="form-control">@ViewBag.RetypePassword</label>
                    <input type="password" value=@ViewBag.RetypePassword class="form-control" id="txtReType" onblur="passwordCheck()" />*@

                @Html.LabelFor(m => m.RetypePassord, htmlAttributes: new { @class = "form-control" })
                @Html.PasswordFor(m => m.RetypePassord, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RetypePassord, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.Age, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(m => m.Department_Id, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(m => m.Department_Id, new { htmlAttributes = new { @class = "form-control" } })*@

                @*@Html.DropDownList("DepartmentId", new SelectList(ViewBag.DepartmentList, "Value", "Text"))*@
                @Html.DropDownListFor(m => m.Department_Id, Model.DeparmentList)
                <button class="btn btn-primary">Create Employee</button>
            }
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
