@*@model UnderstandingDataTransferInMVCProject.Models.Employee*@
@model UnderstandingDataTransferInMVCProject.Models.EmployeeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <title>Register</title>
    <style>
        form {
            width: 300px;
        }
    </style>
    <script>
        function passwordCheck() {
            var pass = document.getElementById("Password").value;
            var repass = document.getElementById("txtReType").value;
            if (pass != repass)
                alert("Password Mismatch");
        }
    </script>
</head>
<body>

    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })

                @*<label class="form-control">@ViewBag.RetypePassword</label>
            <input type="password" value=@ViewBag.RetypePassword class="form-control" id="txtReType" onblur="passwordCheck()" />*@

                @Html.LabelFor(m => m.RetypePassord, htmlAttributes: new { @class = "form-control" })
                @Html.PasswordFor(m => m.RetypePassord, htmlAttributes: new { @class = "form-control" })

                @Html.LabelFor(m => m.Age, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(m => m.Department_Id, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(m => m.Department_Id, new { htmlAttributes = new { @class = "form-control" } })*@

                @*@Html.DropDownList("DepartmentId", new SelectList(ViewBag.DepartmentList, "Value", "Text"))*@
                @Html.DropDownListFor(m => m.Department_Id, Model.DeparmentList)
                <button class="btn btn-primary">Create Employee</button>
            }
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
